{{#if addNewAddress}}
    <div class="container-fluid add-address-overlay-container show">
        <div class="add-address-overlay-content d-flex justify-content-start">
            <h4>Πρόσθεσε τη διεύθυνση σου για να συνεχίσεις</h4>
            {{>add-address-form}}
        </div>
    </div>
{{/if}}