<div class="add-user-item-form-wrapper">
    <form class="row needs-validation" id="add-address-form" method="post" action="/addresses/add" novalidate>
        <div class="form-group col-12 hidden">
            <label for="action-type" class="form-label required"></label>
            <input type="text" class="form-control" id="action-type" name="action-type" value="add" disabled required>
        </div>

        <div class="form-group col-12 hidden">
            <label for="address-id" class="form-label required"></label>
            <input type="text" class="form-control" id="address-id" name="address-id" disabled required>
        </div>

        <div class="form-group col-12 col-sm-6">
            <label for="city" class="form-label required">Πόλη:</label>
            <input type="text" class="form-control" id="city" name="city" required>
            <div class="invalid-feedback">
                Παρακαλούμε πληκτρολόγησε την πόλη σου.
            </div>
        </div>

        <div class="form-group col-12 col-sm-6 my-1">
            <label for="street" class="form-label required">Οδός:</label>
            <input type="text" class="form-control" id="street" name="street" required>
            <div class="invalid-feedback">
                Παρακαλούμε πληκτρολόγησε την οδό σου.
            </div>
        </div>

        <div class="form-group col-12 col-sm-6 my-1">
            <label for="number" class="form-label required">Αριθμός:</label>
            <input type="text" class="form-control" id="number" name="number" required>
            <div class="invalid-feedback">
                Παρακαλούμε πληκτρολόγησε τον αριθμό σου.
            </div>
        </div>

        <div class="form-group col-12 col-sm-6 my-1">
            <label for="postcode" class="form-label">Τ.Κ.:</label>
            <input type="text" class="form-control" id="postcode" name="postcode">
        </div>

        <div class="form-group col-12 col-sm-6 my-1">
            <label for="country" class="form-label required">Χώρα</label>
            <select class="form-select" id="country" name="country" required>
                <option selected value="Ελλάδα">Ελλάδα</option>
                <option value="Κύπρος">Κύπρος</option>                
            </select>
            <div class="invalid-feedback">
                Παρακαλούμε επέλεξε τη χώρα σου.
            </div>
        </div>

        <div class="form-group col-12 col-sm-6 my-1">
            <label for="floor" class="form-label">Όροφος:</label>
            <input type="text" class="form-control" id="floor" name="floor">
        </div>

        <div class="form-group col-12 col-sm-6 my-1">
            <label for="bell" class="form-label">Κουδούνι:</label>
            <input type="text" class="form-control" id="bell" name="bell">
        </div>

        <div class="form-group col-12 col-sm-6 my-1">
            <label for="note" class="form-label">Σημειώσεις:</label>
            <input type="text" class="form-control" id="note" name="note">
        </div>

        <div class="col-12 my-1 d-flex justify-content-end">
            <button class="mt-2 me-2 btn btn-secondary" id="save-user-address">Αποθήκευση</button>
        </div>
    </form>
</div>