<div class="container-fluid custom-overlay-container"  id="cart-overlay-container">
    <div class="container custom-overlay-content">
        <div class="row">
            <div class="col-12 cart-items-wrapper px-4 me-3">
                <div class="d-flex justify-content-between align-items-center cart-item-title my-2"><h4>Προϊόντα</h4><button class="btn btn-outline-secondary clear-cart">Άδειασμα</button></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-outline-secondary close-cart mx-1">Κλείσιμο</button>
                <button class="btn btn-outline-success continue-to-order mx-1">Ολοκλήρωση Παραγγελίας</button></div>
        </div>
    </div>
</div>