<!-- FOOTER -->
<footer class="container-fluid px-5" id="footer">

<!-- FOOTER ROW -->
<div class="row justify-content-start">
    <h2>Επικοινωνία</h2>
    <div class="col-sm-6 pt-2">
    <a href="mailto:up1072791@upnet.gr" title="mailto:up1072791@upnet.gr"  class="mailto-a">Theofilou Stylianos</a>
    <br>
    <a href="https://github.com/StelTheo73" target="_blank" title="github.com/StelTheo73"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/stylianos-theofilou-976ab923b" target="_blank" title="www.linkedin.com/in/stylianos-theofilou"><i class="fab fa-linkedin footer-icons"></i></a>
    </div>
    <div class="col-sm-6 pt-2">
    <a href="mailto:" title="mailto" class="mailto-a">Makris Konstantinos</a>
    <br>
    <a href="https://github.com/makket13" target="_blank" title="github.com/makket13"><i class="fab fa-github"></i></a>
    </div>
    </div>
<!-- END FOOTER ROW -->

<hr>

<!-- FOOTER ROW -->        
<div class="row">
    <div class="d-flex flex-column flex-sm-row justify-content-between">
    <p>© 2023: StelTheo73 x makket13 - All rights reserved.</p>
    </div>
</div>
<!-- END FOOTER ROW -->

</footer>
<!-- END FOOTER -->