<!-- NAV AND SIDENAV-->
<div id="navbar-and-sidebar-wrapper">

<!-- SIDEBAR -->
<div id="main-sidebar" class="overlay">
    <a href="#" id="close-main-sidebar-btn">×</a>
    <div class="overlay-content">
    <a href="/">Home</a>

    <!-- FOOD CATEGORIES -->
    <a href="#" class="sidebar-dropdown-link" id="sidebar-categories-link">Categories</a>
    <div class="d-flex flex-wrap justify-content-start px-sm-1 sidebar-items-div">
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Burgers</span></div>
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Pizza</span></div>
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Αναψυκτικά</span></div>
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Γλυκά</span></div>
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Ζυμαρικά</span></div>
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Θαλασσινά</span></div>
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Καφέδες</span></div>
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Κρέπες</span></div>
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Μαγειρευτά</span></div>
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Ορεκτικά</span></div>
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Σαλάτες</span></div>
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Σουβλάκια</span></div>
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Σφολιάτες</span></div>
        <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Ψητά</span></div>
    </div>
    <!-- END FOOD CATEGORIES -->

    <a href="#footer" id="sidebar-link-to-footer">Contact Us</a>
    </div>
</div>
<!-- END SIDEBAR -->

<div id="main-navbar">
    <header class="py-3 border-bottom" id="main-header">
    <div class="container-fluid d-grid gap-3 align-items-start px-0" style="grid-template-columns: 1fr 2fr;">

        <div class="d-flex align-items-start">
            
            <div id="sidenav-toggler-icon" class="nav-link py-0 ps-2 ps-sm-4">
                <button class="btn btn-secondary" id="open-main-sidebar-btn">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <div>
                <a href="/">Home</a>
            </div>
        </div>
        
        <div class="d-flex align-items-center pe-2 pe-sm-4">

        <!-- SEARCH FORM -->
        <form id="search-form" action="/search" method="GET" class="w-100 me-3" onsubmit="return false;">
            <input id="search-input" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
        <!-- END SEARCH FORM -->

        <!-- USER ICON & DROPDOWN -->
        <div class="flex-shrink-0 dropdown">
            <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-circle"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end shadow mt-1">
                <li><a class="dropdown-item" href="#" type="button">Προβολή Προφίλ</a></li>
                <li><a class="dropdown-item" href="/orders" type="button">Παραγγελίες</a></li>
                <li><a class="dropdown-item" href="/addresses" type="button">Διαχείριση Διευθύνσεων</a></li>
                <li><a class="dropdown-item" href="/cards" type="button">Διαχείριση Καρτών</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" type="button">Εγγραφή</a></li>
                <li><a class="dropdown-item" href="/logout" type="button">Αποσύνδεση</a></li>
            </ul>
            </div>
            <!-- END USER ICON & DROPDOWN -->

        </div>
        </div>
    </div>
    </header>
</div>

</div>
<!-- END NAV AND SIDENAV -->