<div class="container user-items" id="user-items-cards">
    <!-- ROW -->
    <div class="row">
    <div class="col-6">
        <h1>Διαχείριση Καρτών</h1>
    </div>
    
    <div class="col-6 d-flex justify-content-end align-items-center">
        <button type="button" class="btn btn-primary bg-success add-new-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Προσθήκη Νέας
        </button>
    </div>
    
    <!-- MODAL -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
        </div>
    </div>                    
    <!-- END MODAL -->
    </div>
    <!-- END ROW -->
    
    <!-- ROW -->
    <div class="row">
    <!-- CARDS HERE -->
    {{#if cards}}
        {{#each cards}}
            <div class="col-12 col-md-6 col-xl-4">
                <div class="address-card-wrapper">
                    <div>
                    <label>Αρ. Κάρτας</label>
                    <input type="text" value="{{this.cardNumber}}" readonly>
                    </div>
                    <div>
                    <label>CVV</label>
                    <input type="text" value="{{this.cvv}}" readonly>
                    </div>
                    <div>
                    <label>Ημερ. Λήξης</label>
                    <input type="text" value="{{this.expirationDate}}" readonly>
                    </div>   
                    <div>
                    <label>Όνομα Κατόχου</label>
                    <input type="text" value="{{this.cardholder}}" readonly>
                    </div>
                    <div>
                    
                    <span><i class="fas fa-trash-alt text-danger"></i></span>
                    </div>
                </div>
            </div>
        {{/each}}
    {{/if}}
    </div>
    <!-- END ROW -->
</div>
















