<div class="container-fluid home-items" id="home-items">
    <div class="row">
        <div class="col-12">
            <h1>Tι έχεις όρεξη να φας?...</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-start m-4">
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Burgers</span>
        </div>
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Pizza</span>
        </div>
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Αναψυκτικά</span>
        </div>
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Γλυκά</span>
        </div>
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Ζυμαρικά</span>
        </div>
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Θαλασσινά</span>
        </div>
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Καφέδες</span>
        </div>
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Κρέπες</span>
        </div>
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Μαγειρευτά</span>
        </div>
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Ορεκτικά</span>
        </div>
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Σαλάτες</span>
        </div>
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Σουβλάκια</span>
        </div>
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Σφολιάτες</span>
        </div>
        <div class="m-1 m-md-4">
            <span></span><span class="mt-1">Ψητά</span>
         </div>

    </div>

</div>