{{#if homepage}}
<div class="container-fluid home-items" id="home-items">
    <div class="row">
        <div class="col-12">
            <h1>Tι έχεις όρεξη να φας?...</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center m-4">
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Burgers</span></div>
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Pizza</span></div>
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Αναψυκτικά</span></div>
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Γλυκά</span></div>
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Ζυμαρικά</span></div>
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Θαλασσινά</span></div>
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Καφέδες</span></div>
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Κρέπες</span></div>
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Μαγειρευτά</span></div>
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Ορεκτικά</span></div>
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Σαλάτες</span></div>
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Σουβλάκια</span></div>
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Σφολιάτες</span></div>
        <div class="m-1 m-md-4 fetch-category-wrapper"><span class="fetch-category-img"></span><span class="mt-1 fetch-category-link">Ψητά</span></div>
    </div>
</div>
{{/if}}
