<div class="container-fluid register">
    <div class="row">
        {{#if inuse}}<span class="text-danger border p-1 display-6">Υπάρχει ήδη χρήστης με αυτή τη διεύθυνση email!</span>{{/if}}
        {{#if registrationFailed}}<span class="text-danger border p-1 display-6">Η εγγραφή απέτυχε! Προσπάθησε ξανά!</span>{{/if}}
    </div>
    <div class="row px-4">
        <div class="register-wrapper d-flex justify-content-center flex-wrap mt-4 py-3">
            <h2>Εγγραφή</h2>
            <form class="row needs-validation form-anticlear" action="/register/submit" method="POST" id="register-form" novalidate>
                <div class="form-group col-6 my-1">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                    <div class="invalid-feedback">Please enter a valid email address.</div>
                    <div class="text-danger small invalid-char hidden">Το πεδίο δεν πρέπει να περιέχει τους ακόλουθους χαρακτήρες: {}[]()^+*/=|<>~`;:</div>
                </div>
                <div class="col-6">
                </div>
                <div class="form-group col-6 my-1">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                    <div class="invalid-feedback">Please enter a password.</div>
                    <div class="text-danger small invalid-char hidden">Το πεδίο δεν πρέπει να περιέχει τους ακόλουθους χαρακτήρες: {}[]()^+*/=|<>~`;:</div>
                </div>
                <div class="form-group col-6 my-1">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm password" required>
                    <div class="invalid-feedback">Please confirm your password.</div>
                    <div class="text-danger small password-match hidden">Οι κωδικοί πρέπει να ταιριάζουν.</div>
                    <div class="text-danger small invalid-char hidden">Το πεδίο δεν πρέπει να περιέχει τους ακόλουθους χαρακτήρες: {}[]()^+*/=|<>~`;:</div>
                </div>
                <div class="form-group col-6 my-1">
                    <label for="firstname">Firstname</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your firstname" required>
                    <div class="invalid-feedback">Please enter your firstname.</div>
                    <div class="text-danger small invalid-char hidden">Το πεδίο δεν πρέπει να περιέχει τους ακόλουθους χαρακτήρες: {}[]()^+*/=|<>~`;:</div>
                </div>
                <div class="form-group col-6 my-1">
                    <label for="lastname">Lastname</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your lastname" required>
                    <div class="invalid-feedback">Please enter your lastname.</div>
                    <div class="text-danger small invalid-char hidden">Το πεδίο δεν πρέπει να περιέχει τους ακόλουθους χαρακτήρες: {}[]()^+*/=|<>~`;:</div>
                </div>
                <div class="form-group col-6 my-1">
                    <label for="phone">Phone</label>
                    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your phone" required>
                    <div class="invalid-feedback">Please enter a valid phone number.</div>
                    <div class="text-danger small invalid-char hidden">Το πεδίο δεν πρέπει να περιέχει τους ακόλουθους χαρακτήρες: {}[]()^+*/=|<>~`;:</div>
                </div>
                <div class="form-group col-6 my-1">
                    <label for="birthdate">Birthdate</label>
                    <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="Enter your birthdate" required>
                    <div class="invalid-feedback">Please enter your birthdate.</div>
                    <div class="text-danger small invalid-char hidden">Το πεδίο δεν πρέπει να περιέχει τους ακόλουθους χαρακτήρες: {}[]()^+*/=|<>~`;:</div>
                </div>
                <div class="col-12 my-1 d-flex justify-content-end">
                    <input class="mt-2 me-2 btn btn-secondary" type="submit" value="Register" id="register-button">
                </div>
                </form>
        </div>
    </div>
</div>

{{!-- SCRIPT TO PREVENT FORM FROM CLEARING AFTER SUBMISSION --}}
<script src="https://cdn.jsdelivr.net/gh/akjpro/form-anticlear/base.js"></script>