/* Earthy color palette */
:root {
    --brown: #854d27;
    --orange: #dd7230;
    --yellow: #f4c95d;
    --khaki: #e7e393;
    --black: #04030f;
}

.user-items > .row {
    padding: 1em;
}

.user-items > .row:nth-child(1) {
    background-color: var(--khaki);
}

.user-items > .row:nth-child(2) > div {
    margin-bottom: 0.25em;
    display: flex;
    justify-content: center;
}

.user-items > .row:nth-child(3) > div {
    margin-bottom: 0.25em;
    display: flex;
    justify-content: center;
}

.user-items .add-new-btn {
    min-height: 3em;
    max-height: 3em;
}

.user-items .address-card-wrapper {
    background-color: var(--khaki);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    border: 1px solid lightgray;
    border-radius: 1em;
    padding: 1em;
    max-width: 20em;
    min-width: 20em;
    height: 100%;
}

.user-items .address-card-wrapper > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25em;
}

.user-items .address-card-wrapper > div:nth-last-child(1) {
    margin-top: 1em;
    justify-content: end;
}

.user-items .address-card-wrapper > div:nth-last-child(1) > span {
    margin-left: 1em;
}

.user-items .address-card-wrapper > div:nth-last-child(1) > span:hover {
    cursor: pointer;
}

.user-items .address-card-wrapper > div > input {
    background-color: lightgray;
    border-radius: 8px;
    border: 2px solid black;
    min-width: 12em;
    max-width: 12em;
    height: max-content;
}

.user-items textarea {
    overflow-y: scroll;
    resize: none;
    border-radius: 8px;
    border: 2px solid black;
    min-width: 12em;
    max-width: 12em;
}

.user-items input:read-only {
    background-color: lightgray;
}

.user-items textarea:read-only {
    background-color: lightgray;
}

.user-items textarea::-webkit-scrollbar {
    width: 0.5em;
}

.user-items textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.user-items textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.user-items .add-user-item {
    display: none;
}

.user-items .add-user-item > div > form {
    background-color: var(--khaki);
    border-radius: 1em;
    padding: 2em;
}

.user-items .add-user-item-form-wrapper {
    border-radius: 1em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}
