/* Earthy color palette */
:root {
    --brown: #854d27;
    --orange: #dd7230;
    --yellow: #f4c95d;
    --khaki: #e7e393;
    --black: #04030f;
}

body {
    max-width: 1500px;
    min-width: 10em;
    min-height: fit-content;
    max-height: fit-content;
    margin: 0 auto;
    position: sticky;
    border: 1px solid grey;
    background-image: url("/images/body_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    background-attachment: fixed;
    background-color: var(--brown);
}

.modal-overlay {
    display: none;
    background-color: var(--black);
    /* opacity: 0.9; */
    z-index: 3;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 20em;
    padding: 1em;
}

main > div, #navbar-and-sidebar-wrapper, footer {
    background-color: var(--orange);
}

main > div {
    border: 1px solid grey;
    border-radius: 1em;
}

main, footer {
    opacity: 0.95;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

#navbar-and-sidebar-wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
}

.fa, .fab, .fas, .far, .fal {
    font-size: 30px;
    text-decoration: none;
}

.fa-github {
    color:rgba(0,0,0, 0.9);
    line-height: 2em;
}

.fa-linkedin {
    color: blue;
    line-height: 2em;
}

.footer-icons {
    margin-left: 0.5em;
}

.mailto-a {
    line-height: 1em;
}

label.required::after {
    content: " *";
    color: red;
}
