/* Earthy color palette */
:root {
  --brown: #854d27;
  --orange: #dd7230;
  --yellow: #f4c95d;
  --khaki: #e7e393;
  --black: #04030f;
  --white: white;
}

nav {
  background-color: var(--orange);
}

nav > img {
  max-width: 15em;
}

nav button > a,
nav button > a:hover,
nav button > a:visited
{
  color: var(--white);
  text-decoration: none;
}

main .row > .login-wrapper,
main .row > .register-wrapper
{
  background-color: var(--khaki);
  border: 1px solid gray;
  border-radius: 1em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

main .row > .login-wrapper > div {
  min-width: 20em;
  max-width: 40em;
}

main .row form input {
  box-shadow: 0px 8px 16px 0px rgba(0,1,0,0.5);
}

main .row > .login-wrapper > div i.fa-eye-slash {
  margin-left: -2em;
  margin-top: 0.5em;
  cursor: pointer;
}

main .row:nth-child(1) {
  text-align: center;
  color: red;
}

.login-info p {
  text-align: center;
}
