/* Earthy color palette */
:root {
    --brown: #854d27;
    --orange: #dd7230;
    --yellow: #f4c95d;
    --khaki: #e7e393;
    --black: #04030f;
}

.search-results {
    opacity: 0.95;
}

.search-results > ul {
    list-style-type: none;
    margin-bottom: 0em;
}

.search-results > ul > li > ul {
    list-style-type: none;
}

.search-results > ul > li > h5:before {
    content: "\01F3EC";
    margin-right: 0.2em;
}

.search-results > ul > li > ul > li {
    min-width: 20em;
    max-width: 30em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
}

.search-results > ul > li > ul > li > span:nth-child(1) {
    min-width: 10em;
}

.search-results > ul > li > ul > li > span:nth-child(2) {
    min-width: 5em;
    max-width: 5em;
    margin-left: 0.5em;
}

.search-results > ul > li > ul > li > span:nth-child(1):before{
    content: "\01F374";
    margin-right: 0.2em;
}
