/* Earthy color palette */
:root {
    --brown: #854d27;
    --orange: #dd7230;
    --yellow: #f4c95d;
    --khaki: #e7e393;
    --black: #04030f;
}

.search-results {
    opacity: 0.95;
}

.search-results > ul {
    list-style-type: none;
    margin-bottom: 0em;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.search-results > ul > li {
    margin-top: 2em;
    margin-left: 1em;
    box-shadow: 2px 4px 2px var(--orange);
    border: 1px solid var(--orange);
    padding: 0.5em;
    background-color: var(--khaki);
}

.search-results > ul.shop-result > li {
    min-width: 15em;
    max-width: 15em;
}

.search-results > ul.item-result > li {
    min-width: 20em;
    max-width: 20em;
    min-height: 10em;
    max-height: 10em;
    overflow: auto;
}

.search-results > ul > li a {
    color: var(--orange);
}

.search-results > ul > li > ul {
    list-style-type: none;
    padding: 0;
}

.search-results > ul > li > h5:before {
    content: "\01F3EC";
    margin-right: 0.2em;
}

.search-results > ul > li > ul > li {
    min-width: 15em;
    max-width: 15em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
}

.search-results > ul > li > ul > li > span:nth-child(2) {
    margin-left: 0.5em;
}

.search-results > ul > li > ul > li > span:nth-child(1):before{
    content: "\01F374";
    margin-right: 0.2em;
}
