/* Main content styles */
.main {
    display: flex;
  }
  
  .col-md-4 {
    flex: 1;
    margin-right: 20px;
    padding-top: 29px;
    justify-content: center;
    align-items: center;
  }
  
  .col-md-8 {
    flex: 2;
  }
  
  .img-fluid{
    max-width: 100%;
    height:max-content;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .d-flex.align-items-center.pe-2.pe-sm-4 {
    justify-content: flex-end;
  }

   
  /* Dimension */
  @media screen and (max-width: 768px) {
    /* Adjust styles for small screens */
    .col-md-4 {
      margin-right: 0;
    }
    
    .col-md-8 {
      flex-basis: 100%;
    }
    .navbar-nav .nav-item:hover .nav-link {
      color: red;
      background-color: #333;
    }
    .navbar-nav {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    
    
  }
  
  
    @media (max-width: 800px) {
      .main {
        flex-direction: column;
      }
    
      .col-md-4 {
        margin-right: 0;
        margin-bottom: 20px;
      }
    
      .col-md-8 {
        flex: 2;
        margin-top: 10px;
      }
      
    
      img {
        margin-bottom: 20px;
      }
      .navbar-nav .nav-item:hover .nav-link {
        color: red;
        background-color: #333;
      }
      .navbar-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
  
      /* Additional styles */
      .nav-link {
        padding: 0.5rem 1rem;
        font-size: 16px;
        font-weight: bold;
      }
      
      .navbar-collapse {
        background-color: #fff;
        border: none;
      }
      
      .navbar-toggler {
        border: none;
        outline: none;
      }
    }
