
  /* Main content styles */
  .container {
    max-width: 1440px;
    margin-top: 0 auto;
    
    
  }
  
  .col-md-4 {
    border-right: 1px solid #ccc;
    height: 100%;
  }
  
  .col-md-4 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .col-md-4 ul li {
    margin-bottom: 10px;
  }
  
  .col-md-4 ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .col-md-8 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .col-md-8 ul li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .col-md-8 ul li h4 {
    margin-top: 0;
    font-size: 1.85rem;
  }
  
  .col-md-8 ul li p {
    padding-left:1px ;
  }
  
  .col-category {
    width: 20%;
  }
  
  .col-products {
    width: 80%;
  }
  
  button.add-to-basket {
    background-color: yellow;
  }
  
  button.add-to-basket:hover{
    background-color: rgb(231, 201, 125);
  }
  
  h3{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size:2.5rem;
  }
  
  .col-md-4 ul li a:hover {
    color:red;
    text-decoration: none;
  }
  .navbar-nav.nav-link.login.navbar-nav.nav-link.register {
    color: #fff;
  }
  
  .navbar-nav .nav-link.login:hover,
  .navbar-nav .nav-link.register:hover {
    color: #333;
    background-color: #fff;
  }
  
  
  
  /* Footer */
  #footer {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #footer hr {
    border-top: 1px solid #000000;
  }
  
  #footer h5 {
    color: #000000;
  }
  
  #footer a {
    color: #000000;
  }
  
  #footer a:hover {
    color: #000000;
  }
   
  #footer .footer-icons {
    font-size: 25px;
    margin-right: 10px;
  }
  
  #footer p {
    margin-bottom: 0;
  }
  
  #footer ul {
    margin-bottom: 0;
  }
  
  #footer .link-dark:hover {
    color: #dc3545;
  }
  
  p{
    padding: 10px;
  }
  @media screen and (max-width: 870px) {
    .col-md-4 {
      width: 45%;
      margin-right: 5%;
    }
    .col-md-8 {
      width: 50%;
    }
  }
  
    .nav {
      flex-wrap: wrap;
    }
  
    .nav ul li.cost {
      margin-left: 0;
      margin-top: 10px;
    }
  
  
  