<!DOCTYPE html>
<html>
    <head>
        <title>El Food </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- BOOTSTRAP -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>        
        
        <!--ICONS-->
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

        <!-- CUSTOM STYLESHEETS -->
        <link rel="stylesheet" href="css/base_stylesheet.css">
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/sidebar.css">
        <link rel="stylesheet" href="css/addresses.css">

        <!-- JS -->
        <script src="../javascript/base.js" defer type="module"></script>
        <script src="../javascript/sidebar.js" defer type="module"></script>
        <script src="../javascript/user_items.js" defer type="module"></script>

    </head>
    <body>

      <!-- NAV AND SIDENAV-->
      <div id="navbar-and-sidebar-wrapper">

        <!-- SIDEBAR -->
        <div id="main-sidebar" class="overlay">
          <a href="#" id="close-main-sidebar-btn">×</a>
          <div class="overlay-content">
            <a href="/templates/base.html">Home</a>

            <!-- FOOD CATEGORIES -->
            <a href="#" class="sidebar-dropdown-link" id="sidebar-categories-link">Categories</a> <!-- TODO: HIDE CONTENT ON CLICK -->
            <div class="d-flex flex-wrap justify-content-start px-sm-1 sidebar-items-div">
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Burgers</span></div>
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Pizza</span></div>
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Αναψυκτικά</span></div>
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Γλυκά</span></div>
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Ζυμαρικά</span></div>
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Θαλασσινά</span></div>
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Καφέδες</span></div>
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Κρέπες</span></div>
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Μαγειρευτά</span></div>
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Ορεκτικά</span></div>
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Σαλάτες</span></div>
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Σουβλάκια</span></div>
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Σφολιάτες</span></div>
              <div class="m-1 px-2 sidebar-item-div hide"><span></span><span>Ψητά</span></div>
            </div>
            <!-- END FOOD CATEGORIES -->

            <a href="#footer" id="sidebar-link-to-footer">Contact Us</a>
          </div>
        </div>
        <!-- END SIDEBAR -->
  
        <div id="main-navbar">
          <header class="py-3 mb-3 border-bottom" id="main-header">
            <div class="container-fluid d-grid gap-3 align-items-start px-0" style="grid-template-columns: 1fr 2fr;">
  
                <div class="d-flex align-items-start">
                    
                    <div id="sidenav-toggler-icon" class="nav-link py-0 ps-2 ps-sm-4">
                        <button class="btn btn-secondary" id="open-main-sidebar-btn">
                          <i class="fa fa-bars"></i>
                        </button>
                    </div>
  
                    <div>
                        <a href="/templates/base.html">Home</a>
                    </div>
                </div>
              
              <div class="d-flex align-items-center pe-2 pe-sm-4">

                <!-- SEARCH FORM -->
                <form class="w-100 me-3">
                  <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>
                <!-- END SEARCH FORM -->

                <!-- USER ICON & DROPDOWN -->
                <div class="flex-shrink-0 dropdown">
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-user-circle"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow mt-1">
                      <li><a class="dropdown-item" href="#" type="button">Προβολή Προφίλ</a></li>
                      <li><a class="dropdown-item" href="/templates/orders.html" type="button">Παραγγελίες</a></li>
                      <li><a class="dropdown-item" href="/templates/address.html" type="button">Διαχείριση Διευθύνσεων</a></li>
                      <li><a class="dropdown-item" href="/templates/cards.html" type="button">Διαχείριση Καρτών</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#" type="button">Εγγραφή</a></li>
                      <li><a class="dropdown-item" href="#" type="button">Αποσύνδεση</a></li>
                    </ul>
                  </div>
                  <!-- END USER ICON & DROPDOWN -->

                </div>
              </div>
            </div>
          </header>
        </div>
      
      </div>
      <!-- END NAV AND SIDENAV -->

      <!-- MAIN -->
      <main>
          <div class="container user-items" id="user-items-cards">
                  <!-- ROW -->
                  <div class="row">
                    <div class="col-6">
                      <h1>Διαχείριση Καρτών</h1>
                    </div>
                    
                    <div class="col-6 d-flex justify-content-end align-items-center">
                      <button type="button" class="btn btn-primary bg-success add-new-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Προσθήκη Νέας
                      </button>
                    </div>
                    
                    <!-- MODAL -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Understood</button>
                          </div>
                        </div>
                      </div>
                    </div>                    
                    <!-- END MODAL -->
                  </div>
                  <!-- END ROW -->
                  
                  <!-- ROW -->
                  <div class="row">
                    <!-- CARDS HERE -->
                  </div>
                  <!-- END ROW -->

          </div>
      </main>
      <!-- END MAIN -->



      <!-- FOOTER -->
      <hr>
      <footer class="container" id="footer">

        <!-- FOOTER ROW -->
        <div class="row justify-content-start">
          <h5>Contact</h5>
          <div class="col pt-2">
            <a href="mailto:" title="mailto" class="mailto-a">Makris Konstantinos</a>
            <br>
            <a href="https://github.com/makket13" target="_blank" title="github.com/makket13"><i class="fab fa-github"></i></a>
          </div>
          <div class="col pt-2">
            <a href="mailto:up1072791@upnet.gr" title="mailto:up1072791@upnet.gr"  class="mailto-a">Theofilou Stylianos</a>
            <br>
            <a href="https://github.com/StelTheo73" target="_blank" title="github.com/StelTheo73"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/stylianos-theofilou-976ab923b" target="_blank" title="www.linkedin.com/in/stylianos-theofilou"><i class="fab fa-linkedin footer-icons"></i></a>
            </div>
          </div>
        <!-- END FOOTER ROW -->
        
        <hr>
        
        <!-- FOOTER ROW -->        
        <div class="row">
          <div class="d-flex flex-column flex-sm-row justify-content-between">
            <p>© 2023: makket13 x StelTheo73 - All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-twitter"></i></a></li>
              <li class="ms-3"><a class="link-dark" target="_blank" href="https://www.facebook.com/StelTheo73/"><i class="bi bi-facebook"></i></a></li>
              <li class="ms-3"><a class="link-dark" target="_blank" href="https://www.instagram.com/steltheo73/"><i class="bi bi-instagram"></i></a></li>
              <li class="ms-3"><a class="link-dark" target="_blank" href="https://www.youtube.com/channel/UCsTPowewJM8I9pjLwdEOlew"><i class="bi bi-youtube"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- END FOOTER ROW -->

      </footer>
      <!-- END FOOTER -->
    </body>
</html>